.text {
  text-align: left;
}

.reveal h1,
.reveal h2 {
  font-size: 120%;
  color: blue;
  text-transform: none;
  font-family: 'Noto Sans CJK JP', 'Hiragino Sans', sans-serif;
  width: 100%;
}

.reveal h3 {
  font-size: 100%;
  font-family: 'Noto Sans CJK JP', 'Hiragino Sans', sans-serif;
  width: 100%;
}

.reveal section img {
  margin: auto;
  border: none;
  width: auto;
  height: auto;
  max-height: 540px;
}

.reveal .slides section .towcol {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

div.sourceCode {
  margin-top:    2px;
  margin-bottom: 2px;
  margin-left:   2px;
  margin-right:  2px;
}

code, pre, pre.r {
  width:         95%;
  margin-top:    2px;
  margin-bottom: 2px;
  margin-left:   2px;
  margin-right:  2px;
}
